@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @import '@coreui/coreui'; */

p{
    font-size: 12px;
    margin-bottom: 0;
    padding:0;
    margin:o;
}